<h1>OneTimePassword recorder</h1>
<%= form_tag otprec_create_path, html: {:class => 'pure-form pure-form-stacked'} do %>
  <div class="pure-control-group">
  <%= text_area :myform, :text, :placeholder => 'Type password here...', :cols => 100, :rows => 10  %>
  </div>
  <div class="pure-control-group">
  <%= label_tag "How many days store this link" %>
  <%= number_field_tag :store_days, nil, in: 1..31, step: 1, :value => 1 %>
  <div class="pure-control-group">
  <%= submit_tag "Save", :class => 'pure-button pure-button-primary' %>
  </div>
<% end %>
